@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(7, 7, 95);
}

.container {
    width: 100%;
}

ul {
    list-style-type: none;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

li {
    margin-bottom: 20px;
    max-width: 200px;
    color: white;
    span {
        color: grey;
    }
}

img {
    width: 200px;
}